.git
.gitignore
.gitattributes
Dataset/
transfer_iq/config/.env
transfer_iq/venv/
transfer_iq_env/
**/__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
Thumbs.db
.ipynb_checkpoints/
transfer_iq/logs/
transfer_iq/*.log
transfer_iq/bg.stdout.log
transfer_iq/bg.stderr.log
